.main{
    display: flex;
    gap: 60px;

}
.calculations {
    display: flex;
    flex-direction: column;
    width: 320px;
    text-align: left;
}
.link {
    cursor: pointer;
    width: 320px;
    height: 64px;
    color: #8585AD;
    text-decoration: none;
    background-color: transparent;

}

.link:hover {
    color: white;
}

.link_active {
    color: white;
}
