.headerConstructor {
    color: #F2F2F3;
    text-align: left;
}
.ingredients {
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.tabs {
    display: flex;
}
.categoriesName {
    text-align: left;
}
.categories {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    gap: 40px;
}
.ingredients::-webkit-scrollbar {
    background: #8585AD;
    width: 8px;
}
.ingredients::-webkit-scrollbar-thumb {
    background: #2F2F37;
}