.container {
    display: flex;
    flex-direction: column;
}
.containerOrders {
display: flex;
    gap: 36px;
}
.orders {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 272px;
    /*height: 152px;*/
    color: #F2F2F3;
}
.ordersHeader {
    text-align: left;
}
.ordersContainer {
    flex-direction: column;
    gap: 8px;
    text-align: left;
    display: flex;
}
.ordersDone {
    color: #00CCCC;
    flex-direction: column;
    gap: 8px;
    text-align: left;
    display: flex;
}
.totalOrders {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}