.header {
    display: flex;
    align-content: center;
    justify-content: center;
}
.headerSection {
    display: flex;
}

.link {
    border: 1px dashed #4C4CFF;
    border-radius: 40px;
    background-color: transparent;
    color: #8585AD;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    gap: 8px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-decoration: none;
}
.linkConstructor {
    width: 178px;
    height: 56px;
    margin-right: 8px;
}
.linkOrder {
    width: 197px;
    height: 56px;
    margin-right: 120px;
}
.linkAccount {
    width: 207px;
    height: 56px;
    margin-left: 200px;
}
.link:hover {
    color: #F2F2F3;
}

.activeLink {
    color: #F2F2F3;
}