.container {
    display: flex;
    flex-direction: column;
    height: 214px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    margin-top: 122px;
}
.orderId {
    text-align: center;
}
.nameBurger {
    text-align: left;
}
.burgerStatus {
    color: #00CCCC;
}
.burgerInfo {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.burgerIngredients {
    display: flex;
    flex-direction: column;
    min-height: 64px;
    gap: 16px;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.priceBurger {
    display: flex;
    gap: 9px;
}