.link {
    text-decoration: none;
}
.product {
    position: relative;
    color: #F2F2F3;
}
.productName {
    word-break: break-all;
    max-width: 272px;
}
.productPrice {
    display: flex;
    align-items: center;
    justify-content: center;
}